* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font: lighter 16px/150% "Helvetica Nee", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  list-style: none;
  color: white;
}

.completed {
  background: limegreen;
}

.false {
  background: tomato;
}

.container {
  max-width: 640px;
  width: 100%;
  margin: 20px auto;
}

.details {
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 5px;
  background: steelblue;
  color: white;
  text-align: right;
  text-transform: lowercase;
  font-size: 12px;
}

.details span {
  margin-right: 10px;
}

.details span:last-child {
  margin-right: 0;
}

form {
  margin-bottom: 10px;
}

input,
form button {
  padding: 5px;
  border: 1px solid #ccc;;
  border-radius: 5px;
}

form button {
  margin-left: 5px;
  background: lightgray;
  color: white;
}

button:hover {
  cursor: pointer;
}
